.sidebar {
  min-width: 280px;
  z-index: 2;
  border-radius: 0 !important;
}

.MuiDrawer-paper .MuiPaper-root {
  border-radius: 0 !important;
  color: #000;
}

.dapp-sidebar {
  height: 100%;
  overflow: hidden;
  border-radius: 0 !important;
  &.mobile {
    .logo {
      padding-left: 35px;
      display: block;
      margin-top: 40px;
      margin-bottom: 40px;
      padding: 0 !important;
      color: #000 !important;
    }
    .dapp-menu-top {
      margin-top: 0 !important;
    }
  }

  .button-dapp-menu {
    padding: 12px 14px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600 !important;
    margin-left: 0;
    span,
    img {
      font-weight: 600 !important;
    }
    span div {
      border-radius: 5px;
      color: var(--color-white);
      margin-left: 10px;
    }
    &.active {
      color: var(--color-gold);
      text-decoration: unset;
      img {
        color: var(--color-gold);
      }
    }
    &:hover {
      color: var(--color-gold) !important;
      img {
        color: var(--color-gold) !important;
      }
    }
  }
}
.MuiDrawer-paperAnchorDockedLeft {
  box-shadow: 0 15px 30px -8px rgb(0 0 0 / 8%) !important;
}

.dapp-sidebar-inner {
  height: 100%;
  overflow: auto;
  // border-right: 1px solid #787848;
}

.branding-header {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 100%;
  align-items: center;
  text-decoration: none;
  margin: 0 0 10px 0;
  .branding-header-icon {
    width: 50px;
    display: block;
    margin: 0 auto;
  }
  .wallet-link {
    margin: 20px 10px;
  }
  .logo {
    text-decoration: none !important;
    img {
      height: 6rem;
      margin-bottom: 12px;
    }
    h5 {
      // color: #f2f1f1;
      font-weight: 700;
      letter-spacing: 0.2em;
      font-size: 1.2rem;
      span {
        font-weight: 400;
      }
    }
  }
}

.dapp-menu-top {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  // margin-bottom: 33px;
  margin-top: 40px;
  min-height: max-content;
  .dapp-nav {
    display: flex;
    flex-flow: column;
    width: 100%;
  }
}

.dapp-menu-bottom {
  height: 40vh;
  min-height: 30vh;
}

.dapp-menu-links {
  min-height: 35vh;
  display: flex;
  align-items: center;
  margin: 0 35px;
}

.dapp-nav a {
  margin-top: 0.7rem;
  margin-left: 33px;
  align-items: center;
  margin-bottom: 0.5rem;
  img {
    width: 20px;
    height: 20px;
    margin-right: 12px;
    vertical-align: -4px;
  }
}

.dapp-menu-external-links {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: center;
  margin: 0 35px;

  h6 {
    display: flex;
    align-self: center;
  }
  a {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 12px 14px;
    white-space: nowrap;
    span {
      color: var(--color-color);
      font-weight: 600 !important;
    }
  }
  a img {
    width: 20px;
    height: 20px;
    margin-right: 12px;
    vertical-align: middle;
    font-weight: 600 !important;
  }
  a img {
    margin-right: 12px;
  }
}

.option-discounts {
  text-align: left;
  color: #666666;
  padding-left: 48px;
  padding-top: 12px;
  > p {
    margin-bottom: 6px;
  }
  .option {
    display: block;
    padding: unset;
    // margin-bottom: 0 0 1px 0;
    padding-top: 0.7rem;
    align-items: center;
    padding-bottom: 0.5rem;
    margin: 0;

    text-decoration: none !important;
    .option-pair-roi {
      float: right;
      // margin-left: 33px;
    }
    p {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

.social-row {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  padding: 1.3rem;
  a {
    &:hover {
      transform: scale(1.1);
    }
    svg {
      height: 20px;
      width: 20px;
      color: var(--color-grey);
    }
  }
}

.mobile .show .dapp-sidebar {
  .dapp-menu-links {
    flex-flow: row !important;
    justify-content: center !important;
  }
  .dapp-menu-external-links {
    padding-top: 3em;
    line-height: 200% !important;
    justify-content: center;
  }
  .dapp-nav,
  .dapp-menu-external-links {
    flex-flow: column !important;
    justify-content: flex-start;
    margin: auto;
    a {
      padding: 0;
      img {
        align-self: center;
      }
    }
  }
  .dapp-menu-external-links a {
    justify-content: left;
  }
  .dapp-nav {
    .dapp-menu-data.discounts {
      margin-top: 2.5em;
      .option-discounts {
        display: none;
      }
    }
  }
}

.mobile,
.tablet {
  &.dapp-sidebar .logo {
    display: block;
  }
  .dapp-menu-top {
    margin-top: 40px;
  }
}
